<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">

<!--
`match-timeline`


@demo demo/index.html
-->

<dom-module id="match-timeline">
  <template>
    <style>
    </style>

      <iron-ajax
        auto
        url="../mocks/comments.json"
        handle-as="json"
        on-response="handleSortResponse"></iron-ajax>
  </template>

  <script>
    class MatchTimeline extends Polymer.Element {
      static get is() { return 'match-timeline'; }
      static get properties() {
          return {
        };
      }
    }

    window.customElements.define(MatchTimeline.is, MatchTimeline);
  </script>
</dom-module>
